data
!data/**/*.pdf
CAMISIMGraphQuality/scripts
*.log
*__pycache__*
Predictions/*.sh
Predictions/*\.e*
Predictions/*\.o*
SequenceDivergence/input_yamls/
Utils/align
spacegraphcats
*.gz
inputs
outputs
*.csv
*.pdf
